@tailwind base;
@tailwind components;
@tailwind utilities;

#nav {
	background: #000000; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#434343,
		#000000
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#434343,
		#000000
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	position: fixed;
	top: 0;
	width: 100vw;
}

/* #content {
  position: relative;
  min-height: 100%;
} */

/* footer {
	background: #000000;
	background: -webkit-linear-gradient(
		to right,
		#434343,
		#000000
	);
	background: linear-gradient(
		to right,
		#434343,
		#000000
	);
  position: absolute;
  bottom: 0;
} */

#bg {
	background: #eeeded;
	height: calc(100vh - 5rem);
	width: 100vw;
	margin-top: 5rem;
	position: fixed;
	overflow: auto;
}

#profile-pic {
	/* margin-left: calc(50vw - 7.5rem); */
	margin-left: -15rem;
}

#hero-section {
	background-image: linear-gradient(
		to bottom,
		#222222,
		#2d2d2d,
		#383838,
		#444444,
		#505050,
		#5b5b5b,
		#666666,
		#717171,
		#7e7e7e,
		#8c8c8c,
		#999999,
		#a7a7a7
	);
}

.front-page {
	height: calc(100vh - 5rem);
	width: 100vw;
}

.single-page {
	background-image: linear-gradient(
		to bottom,
		#222222,
		#2d2d2d,
		#383838,
		#444444,
		#505050,
		#5b5b5b,
		#666666,
		#717171,
		#7e7e7e,
		#8c8c8c,
		#999999,
		#a7a7a7
	);
	height: calc(100vh - 5rem);
	width: 100vw;
}

#subsection {
	background-color: #a7a7a7;
	height: fit-content;
}

.header-main {
	color: #e1e1e1;
	text-shadow: 10px 20px 80px white;
}

.meeting-page {
	background-image: linear-gradient(
		to bottom,
		#222222,
		#2d2d2d,
		#383838,
		#444444,
		#505050,
		#5b5b5b,
		#666666,
		#717171,
		#7e7e7e,
		#8c8c8c,
		#999999,
		#a7a7a7
	);
	height: 105vh;
}

.projects-page {
	background-image: linear-gradient(
		to bottom,
		#222222,
		#2d2d2d,
		#383838,
		#444444,
		#505050,
		#5b5b5b,
		#666666,
		#717171,
		#7e7e7e,
		#8c8c8c,
		#999999,
		#a7a7a7
	);
	background-position: fixed;
	overflow: scroll;
	height: fit-content;
}
